/*Autor: Alejandro*/

.prueba{
    text-align: center;
    background-color: black;
    color: aquamarine;
    font-family: 'Roboto', sans-serif;
}
.lapiz{
    background-image: url(/Formularios/Img/shrek.jpg);
    background-repeat: no-repeat;
    background-size: 105% 95%;
    color: black;
    font-family: 'Roboto', sans-serif;
}