/*Autor: Alejandro*/

.prueba{
    text-align: center;
    background-color: black;
    color: aquamarine;
    font-family: 'Roboto', sans-serif;
}
.lapiz{
background-color: brown;
color: black;
font-family: 'Roboto', sans-serif;

}